<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Food Forti</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



</head>

  <body>

  	<div class="container" style="border:1px solid lightgray; padding: 0;">

    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; padding: 0 60px; border-bottom: 1px solid orange;  ">

       <div  class="col-lg-5 col-md-5 col-sm-12 col-xs-6" style="padding: 0;">
        <img src="img/z13.png" class="img-responsive" style="height:70px; margin-top: 4px;">
      
    </div>


     <div  class="col-lg-7 col-md-7 col-sm-12 col-xs-6" style="margin-top: 10px;" >

      <div class="menu">
    <nav class="navbar navbar-default" style="padding: 5px; background: none; border:none">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="float: right;">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us </a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Join us</a></li>
         <li><a href="#">Service</a></li>

        
      
      
      </ul>
    
    
    </div><!-- /.navbar-collapse -->
 
</nav>
</div>
      
    </div>
      
    </div>


   


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    	<h3 style="text-align: center; font-family: serif;">Special Offer</h3><hr>
<center>

    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    		<a href="#" ><img src="img/img2.jpg" class="img-responsive" id="images"></a>
    		<a href="#" style="text-decoration: none; border: 1px solid #fff;padding: 5px;background: orange; color: #000; font-family: times; font-weight: bold;">Order Now</a>
    		
    	</div>

    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    		<a href="#" ><img src="img/img3.jpg" class="img-responsive" id="images"></a>
    		<a href="#" style="text-decoration: none; border: 1px solid #fff;padding: 5px;background: orange; color: #000; font-family: times; font-weight: bold;">Order Now</a>
    		
    	</div>


    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    		<a href="#" ><img src="img/img3.jpg" class="img-responsive" id="images"></a>
    		<a href="#" style="text-decoration: none; border: 1px solid #fff;padding: 5px;background: orange; color: #000; font-family: times; font-weight: bold;">Order Now</a>
    		
    	</div>


    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    		<a href="#" ><img src="img/img2.jpg" class="img-responsive" id="images"></a>
    		<a href="#" style="text-decoration: none; border: 1px solid #fff;padding: 5px;background: orange; color: #000; font-family: times; font-weight: bold;">Order Now</a>
    		
    	</div>



</center>
	
    </div>


       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; ">
      <p style="font-weight: bold; font-size: 18px;">Enjoy Food From Your Favourite Resturants :</p>
      <p style="float: right;"><input type="search" name="search" placeholder="Search Any Item" style="height: 30px; max-width: 600px; border:none; border:1px solid darkorange; padding: 5px; border-right: none;"><label><a href="#"><i class="fas fa-search" style="background: orange; border:1px solid orange;padding: 7px; color: #fff; width: 40px; text-align: center;"></i></a></label></p>
      
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;">

      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
       <label>Catagory</label><hr>

       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Chicken Bargur &nbsp(10)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Chicken Rull &nbsp(13)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Apple Juice &nbsp(14)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Mango Juice &nbsp(10)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Barbie Que &nbsp(15)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Lemon Juice &nbsp(20)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Sanduice &nbsp(12)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Cake &nbsp(9)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Nuduls &nbsp(11)</span><br><br>
       <input type="checkbox" name="select"> <span style="color:#2E363E; font-family: times; font-size: 16px;">Vegetable Rull &nbsp(100)</span>
      
    </div>


    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>


         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange; margin-top: 10px;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>



         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange; margin-top: 10px;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>


         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange;margin-top: 10px;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>


         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange; margin-top: 10px;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>


              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange; margin-top: 10px;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>


              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #f4f4f4; padding: 10px; box-shadow: 3px 3px 2px lightgray; border-left: 5px solid orange; margin-top: 10px;">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <img src="img/t1.jpg" class="img-responsive" style="height: 100px;">
      </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <p style="font-weight: bold;">Vegetable Rull</p>
        <p style="font-size: 12px;">Delevery Fee :35.00Tk</p>
        <p style="font-size: 12px;">Delevery Time :35min.</p>
      </div>

         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="margin-top: 20px;">
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star" style="color: orange;"></i></span>
        <span style=""><i class="fas fa-star"></i></span><br>
        <span style="color: black;padding: 0 10px; ">(4 Reviews)</span><br>
        <span style="padding: 0 30px;"><a href="#"><i class="far fa-heart" style="font-size: 20px; color: red;"></i></a></span>

      </div>

         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 10px;">
        <span style="font-weight: bold; color: navy; font-size: 12px; ">Minimum Order: 100Tk</span>
        <center><input type="submit" name="menu" value="Show Menu" style="margin-top: 10px; font-size: 11px; font-weight: bold;" class="btn btn-success"></center>
        
      </div>
        
      </div>


      


      
    </div>


    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      <label>Short By</label><hr>

      <a href="#" style="text-decoration: none;"><span style="color:#2E363E; font-family: times; font-size: 16px;">Best Rating</span></a><br><br>
       <a href="#" style="text-decoration: none;"><span style="color:#2E363E; font-family: times; font-size: 16px;">Recent</span></a><br><br>
        <a href="#" style="text-decoration: none;"><span style="color:#2E363E; font-family: times; font-size: 16px;">Newest</span></a><br><br>

         <a href="#" style="text-decoration: none;"><span style="color:#2E363E; font-family: times; font-size: 16px;">Minimum Order</span></a><br><br>
      
    </div>



      
    </div>







 
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px; padding: 30px;   background: #2E363E; ">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="">
      <h4 style="color: #fff;">QUICK CONTACT</h4><br>
      <p style="color: lightgray;">United City, Madani Avenue,  Badda, Dhaka 1212, Bangladesh.<br><br>Phone: +88 09604-848-848

<br><br>info@uiu.ac.bd
Admission Office: +8801759039451 & +8801759039465
<br><br>
Office Time: Sat-Wed 8:30 AM to 4:30 PM<br><br>

Only Admission Office is open on Thursday 10:00 AM to 4:00 PM</p>
      
    </div>

  


<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
   <h4 style="color: #fff;" >IMPORTANTS LINKS</h4><br>
   <a href="#" style="color: lightgray; text-decoration: none;">Service and Policy</a><br><br>
   <a href="#" style="color: lightgray; text-decoration: none;">Termp & Policy</a><br><br>
   <a href="#" style="color: lightgray; text-decoration: none;">About Us</a><br><br>
   <a href="#" style="color: lightgray; text-decoration: none;">Contact us</a><br><br>
   <a href="#" style="color: lightgray; text-decoration: none;">Order Now</a>
   
      
    </div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
   <h4 style="color: #fff;">CONNECT WITH US</h4><br>
   <style type="text/css">
     .icone:hover{background: darkorange; transition: all 0.5s ease-in; border-radius: 50%;}
   </style>

  <a href="#"><i class="fab fa-facebook icone" style="color: lightgray; font-size: 25px; padding: 10px;"></i></a>
  <a href="#"><i class="fab fa-twitter-square icone" style="color: lightgray; font-size: 25px; padding: 10px;"></i></a>
 <a href="#"> <i class="fab fa-youtube-square icone" style="color: lightgray; font-size: 25px; padding: 10px;"></i></a>
  <a href="#"><i class="fab fa-google-plus-square icone" style="color: lightgray; font-size: 25px; padding: 10px;"></i></a><br><br><br><br><br><br>


  <a href="#" style="float: right;"><i class="fas fa-arrow-up" style="color: #fff; padding: 10px; background: orange; font-weight: bold;"></i></a>
   
      
    </div>




    </div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; padding: 0 50px; background: #1B2025;">

  
  <p style="margin-top: 40px; float: right; color: lightgray;">Copyright &copy 2018.<span style="color: orange;">HelloFood.com</span> || All rights reserved.<br>Design By Shuvo </p>




</div>



</div>








              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
  </body>
</html>